* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/bg-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

nav {
  padding: 0 30px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(165, 0, 38, 0.8),
    rgba(244, 109, 67, 0.8) 20%,
    rgba(254, 224, 144, 0.8) 40%,
    rgba(224, 243, 248, 0.8) 60%,
    rgba(116, 173, 209, 0.8) 80%,
    rgba(49, 54, 149, 0.8) 100%
  );
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 100px);
}

.courts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.court-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
}

select {
  height: 30px;
  width: 300px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  padding-left: 10px;
  font-size: 16px;
}

.heat-key {
  padding-top: 45px;
  width: 90px;
  /* background-color: green; */
  height: 545px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  letter-spacing: 2px;
}
.key-color {
  height: 40px;
  width: 40px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.button-div {
  margin: 35px 0 10px;
}
.button-div button {
  height: 40px;
  width: 150px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  margin: 0 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 16px;
}

footer {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
}

/* styles for svg and content */

.court-line {
  stroke: rgba(225, 230, 240, 0.5);
  stroke-width: 2px;
}

text {
  font-family: Arial;
  font-size: 15px;
}
.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.tick text {
  fill: black;
  font-size: 11px;
}
#main {
  border: 3px inset #c3c3d3;
  border-radius: 8px;
  background-color: #efefff;
}

.d-zone {
  stroke: rgba(225, 230, 240, 0.8);
  stroke-width: 2px;
}
