* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(
      to top,
      rgba(240, 240, 245, 0.6),
      rgba(240, 240, 245, 0.6)
    ),
    url("../images/bg-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

nav {
  position: fixed;
  padding: 0 30px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(165, 0, 38, 0.95),
    rgba(244, 109, 67, 0.95) 20%,
    rgba(254, 224, 144, 0.95) 40%,
    rgba(224, 243, 248, 0.95) 60%,
    rgba(116, 173, 209, 0.95) 80%,
    rgba(49, 54, 149, 0.95) 100%
  );
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-left {
  display: flex;
  height: 100%;
  align-items: center;
}

h1 {
  margin-right: 20px;
}

.nav-left a {
  color: white;
  margin: 0 10px;
}

.content-wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 50px);
}

.doc-title {
  margin: 30px 0 20px;
  width: 80%;
  /* background-color: green; */
}

.doc-section {
  width: 80%;
  margin: 0 0 20px;
  background-color: rgba(240, 240, 250, 0.8);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.3);
  max-height: 500px;
  overflow-x: auto;
  padding: 10px 20px 20px;
  border-radius: 12px;
}

.doc-section p {
  margin-top: 10px;
  line-height: 150%;
}

.doc-section p img {
  border-radius: 12px;
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  min-width: 350px;
  height: auto;
}

ul {
  width: 80%;
  margin: 0 auto;
}
ul li {
  margin: 50px 0;
}

.button-wrapper {
  width: 790px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}

.button-wrapper h3 {
  width: auto;
  /* text-align: right; */
}

.button-wrapper button {
  margin: 0 0 0 15px;
  width: 200px;
  height: 30px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  color: white;
  letter-spacing: 2px;
  background-color: rgba(244, 109, 67, 0.9);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

.select-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  max-width: 100%;
  /* background-color: green; */
}

.select-div {
  margin: 10px 25px;
}

.select-title {
  margin-left: 5px;
}

.courts-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  /* overflow-x: scroll; */
  margin: 0 auto;
}

svg {
  border: rgba(0, 0, 10, 0.9) solid 1px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.court-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
}

select {
  height: 30px;
  width: 300px;
  /* margin-bottom: 15px; */
  border: none;
  border-radius: 12px;
  padding-left: 10px;
  font-size: 16px;
  margin: 8px 0;
}

.heat-key-wrapper {
  margin: 0 15px;
  height: 500px;
  display: flex;
  align-items: center;
}

.key-title {
  font-size: 95%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  height: 90%;
  width: 2px;
  background-color: rgba(0, 0, 10, 0.5);
}

.heat-key {
  /* padding-top: 45px; */
  width: 80px;
  /* background-color: green; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* color: white; */
  letter-spacing: 2px;
  margin: 0 5px;
}

.key-color {
  height: 40px;
  width: 40px;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 10, 0.5);
}

.button-div {
  margin: 35px 0 10px;
}
.button-div button {
  height: 40px;
  width: 150px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  margin: 0 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 10, 0.6);
  cursor: pointer;
  font-size: 16px;
}

footer {
  height: 50px;
  background-color: rgba(0, 0, 10, 0.8);
  box-shadow: -3px -5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
  font-size: 80%;
}

/* styles for svg and content */

.court-line {
  stroke: rgba(0, 0, 10, 0.9);
  stroke-width: 2px;
}

text {
  font-family: Arial;
  font-size: 15px;
}
.axis path,
.axis line {
  fill: none;
  stroke: green;
  shape-rendering: crispEdges;
}
.tick text {
  fill: black;
  font-size: 11px;
}
#main {
  border: 3px inset #c3c3d3;
  border-radius: 8px;
  background-color: #efefff;
}

.d-zone {
  stroke: rgba(100, 100, 110, 0.4);
  stroke-width: 2px;
}
